BasedOnStyle: WebKit
AlignOperands: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true
BraceWrapping:
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  BeforeElse: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
DerivePointerAlignment: false
IndentWrappedFunctionNames: true
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
SortIncludes: false
TabWidth: 8
UseTab: Never
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true

